<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doctorchannelingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorChannelingApp">
        <activity
            android:name=".RefundReceipt"
            android:exported="true" />
        <activity
            android:name=".Payment"
            android:exported="true" />
        <activity
            android:name=".PatientDashboard"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RefundForm"
            android:exported="true" />
        <activity
            android:name=".PaymentReceipt"
            android:exported="true" />
        <activity
            android:name=".PaymentCard"
            android:exported="true" />
        <activity
            android:name=".PaymentForm"
            android:exported="true" />
        <activity
            android:name=".ChannelingForm"
            android:parentActivityName=".PatientDashboard" />
        <activity
            android:name=".ChannelingReceipt"
            android:parentActivityName=".PatientDashboard" />
        <activity
            android:name=".PatientProfile"
            android:parentActivityName=".PatientDashboard" />
        <activity
            android:name=".PatientRegistration"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>